{{> nav/nav-block user=true register=false}}

<!--container for page-->
<div id="blogContainer" class="container">

  <!-- jumbotron with logo-->
  <div id="jumbotronBlog" class="jumbotron">
  </div>

  <div class="row">
      <div id="blog" class="col-md-12 offset-md-0">
        <form id="cms">
          <div class="form-group">
            <label for="heading">Title:</label>
            <input type="text" class="form-control" id="blog-title">
            <br />
            <label for="blurb">Body:</label>
            <textarea class="form-control" rows="10" id="blog-body"></textarea>
            <br />
            <button id="blogSubmit" class="btn btn-success submit btn-lg">Post</button>
          </div>
        </form>
      </div>
    </div>
    </div>
    <div class="row mt-4">
    <div class="col-md-4">
      <div class="form-group">
      </div>
    </div>
  </div>



<script>
  var userId = {{userInfo.id}};
</script>

{{> modal/login-block}}