body {
  color: white;
  background-size: cover;
  height: 100%;
  font-family: 'Antic Slab', serif;
  font-weight: bold;
  overflow-x: auto;
  background-image: url("../images/bgop1.jpg");
  background-repeat: no-repeat;
}

/*login page jumbotron*/
.jumbotron {
  background: rgba(0, 0, 0, 0);
  background-image: url("../images/bookmarked.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.nav-link,
.navbar-brand {
  color: black;
}

.navbar{
  background-color: #dcf1ec; ; /* For browsers that do not support gradients */
  background-image: linear-gradient(to left, #dcf1ec, #4d8071);
}

.nav-link:hover {
  border-top: 4px solid #617056;
}

#useropo:hover {
  color: rgb(11, 77, 62);
}

.navbar-brand:hover {
  color: rgb(11, 77, 62);
}

.navbar-toggler {
  border: solid 3px #aeb4b2;
  font-size: 15px;
}

.title-author {
  font-weight: 800;
  font-weight: bold;
  margin-bottom: 20px;
}

.imgDiv5,
.imgDiv6,
.imgDiv7 {
  margin-top: 10%;
  margin-left: calc(50% - 70px);
  margin-bottom: 20px;
}

/* footer for all pages */
.bottomFooter {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  height: 30px;
  padding: 7px;
  color: #7d807f;
  background-color: #dcf1ec; /* For browsers that do not support gradients */
  background-image: linear-gradient(to left, #dcf1ec, #4d8071);
}

/*login and reigster modal*/
.modal {
  color: #aeb4b2;
}

.modal-header {
  background-image: url("../images/bgop1.jpg");
  background-size: 850px;
  color: #617056;
}

.modal-title {
  font-weight: bold;
}

.btn {
  background: #cecfcf;
  color: black;
  border: 2px solid #617056;
  font-weight: bold;
  border-radius: 5px;
  opacity: 50%;
}

.btn:hover {
  background-color: rgb(11, 77, 62);
  border: 2px solid #aeb4b2;
}

#user-form,
.header-wrap,
#create-form,
.create-user-wrap {
  padding: 20px;
  border-radius: 15px;
  margin: 20px 0;
}

#update-err-msg,
#login-err-msg,
#create-err-msg {
  color: red !important;
}

#go-home {
  width: auto;
  height: 65px;
}

/*container for login page*/
#container1,
#main-container {
  padding-bottom: 2%;
  margin-top: 10%;
  background: #e1e4e3;
  color: #617056;
  height: 100%;
  border-radius: .55rem;
  margin-bottom: 2%;
  width: 600px;
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 4.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
}

[data-useremail="true"] {
  color: white !important;
}

[data-register="true"] {
  color: white !important;
}

.lead {
  font-size: 1.8rem;
  font-weight: 500;
}


.userId h2,
.header-wrap h1 {
  text-transform: capitalize;
}

hr {
  background-color: #fff !important;
}

.list-group-item {
  line-height: 2.5;
}

.card-body {
  color: #444;
  overflow-y: auto;
}

/*card body for all pages*/
#cardBody5,
#cardBody6,
#cardBody7 {
  color: #444;
  overflow-y: auto;
  text-align: center;
  display: inline-block;
  margin-left: 25%;
  padding: 0;
}

#container1 {
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
}

/*add book button on view books page*/
.addBook {
  background: #aeb4b2;
  color: black;
  border: 2px solid #617056;
  font-weight: bold;
}

.addBook:hover {
  background-color: black;
  border: 2px solid #aeb4b2;
}

/* Profile Page*/
.userRow {
  margin-top: 5%;
  padding: 10px;
}

.readRow,
.tbrRow {
  margin-left: 15%;
  padding: 10px;
}

#addUserButton {
  background: white;
  color: black;
  border: 2px solid #617056;
  border-radius: 5px;
  font-weight: bold;
  width: 20%;
  position: relative;
}

#addUserButton:hover {
  background-color: black;
  border: 2px solid #aeb4b2;
  color: #aeb4b2;
}



.flex {
  display: flex;
  justify-content: center;
}

.flex-item+.flex-item {
  margin-left: 10px;
}

#cardBody1 {
  text-align: center;
}

#cardBody4,
#cardBody2 {
  /* text-align: center; */
  display: flex;
  /* justify-content: flex-end; */
  align-items: center;
  width: 100%;
  height: 300px;
  margin-top: auto;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

.card-list-close-text {
  color: white;
  font-size: 11px;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
  margin-top: 100%;
  margin-bottom: 0%
}

.list-card {
  height: 200px;
  width: 90%;
  background-size: cover;
  margin-bottom: 30px
}

.list-card-body {
  opacity: 0%;
  background-color: #68aaa2;
  color: white
}

.list-card-body:hover {
  opacity: 0.9;
  transition: opacity 0.25s ease;
}

.modal-list-close-text,
.modal-desc-text,
.moda-title-author-text {
  color: black
}

.scroll {
  max-height: 100px;
  overflow-y: auto;
}

.card-header {
  background-color: #d8e0de;
  color: #617056;
  font-family: 'Antic Slab', serif;
  font-weight: bold;
  text-align: center;
}

.card {
  border: 2px solid #253831;
  border-radius: 8px;
  font-family: 'Antic Slab', serif;
  font-weight: bold;
  /* box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12) */
}

/*close button for books*/
.close {
  color: rgb(206, 203, 203);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*follower/following modal with pop-out modal*/
#myModal1,
#myModal2,
#myModal3,
#myModal4 {
  margin-top: 5%;
}

#myModal2:nth-of-type(even) {
  z-index: 1054 !important;
}

#myModal1-backdrop.show:nth-of-type(even) {
  z-index: 1051 !important;
}

#myModal3-backdrop.show:nth-of-type(even) {
  z-index: 1050 !important;
}



/*view books page*/
/*search books area*/
#searchBook {
  width: 100%;
  margin-top: 10px;
  text-align: center;
}

#bookAuthor,
#bookTitle {
  margin-left: 15%;
}

/*reviews button*/
#btnReview {
  background: white;
  color: black;
  border: 2px solid #617056;
  border-radius: 5px;
  margin-left: 70%;
}

/* delete book */
.remove-button {
  border: 2px solid #617056;
  background-color: white;
  border-radius: 5px
}

/* refresh button
.btnRefresh {
  background: white;
  color: black;
  border: 2px solid #617056;
  border-radius: 5px;
  font-weight: bold;
  width: 100%;
}

.btnRefresh:hover {
  background-color: black;
  color: #aeb4b2;
  border: 2px solid #aeb4b2;
} */

.card-footer {
  width: 100%;
  background-color: white;
  border-top: white;
}

@media screen and (max-width: 1050px) {

  body {
    background-repeat: no-repeat;
    max-height: 100%;
  }

  .userRow {
    margin-top: 15%;
  }

  #addUserButton {
    width: fit-content;
  }

  .readRow {
    position: relative;
    margin-right: 15%;
  }
}

@media only screen and (max-device-width: 480px) {

  #cardBody5,
  #cardBody6,
  #cardBody7 {
    margin-left: 20px;
    margin-right: 20px;
  }

  body {
    background-repeat: no-repeat;
  }
}

/*new profile*/
.container {
  margin-top: 10%;
  padding-bottom: 2%;
  margin-bottom: 2%;
  overflow: hidden;
}

 /* #userImage {
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 200px;
    /* border-radius: 50%; */
    /* margin-bottom: 20px;
}  */

 /* #imageSection {
  padding: 15px;
  margin-left: 15%;
} */

#jumbotronProfile {
  background: rgba(0, 0, 0, 0);
  background-image: url("../images/bookmarked.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22%;
}

#addUserButtonNew {
  background: white;
  color: black;
  border: 2px solid #617056;
  border-radius: 5px;
  font-weight: bold;
  width: 100%;
  position: relative;
  padding: 5px;
  margin-top: 57px;
}

#addUserButtonNew:hover {
  background-color: rgb(11, 77, 62);
  border: 2px solid #aeb4b2;
}

#btnFollow {
  background: white;
  color: black;
  border: 2px solid #617056;
  border-radius: 5px;
  font-weight: bold;
  width: 100%;
  position: relative;
  padding: 5px;
  margin-top: 15px;
}

#btnFollow:hover {
  background-color: rgb(11, 77, 62);
  border: 2px solid #aeb4b2;
}

#submitButton {
  background: white;
  color: black;
  border: 2px solid #617056;
  border-radius: 5px;
  font-weight: bold;
  width: 100%;
  position: relative;
  padding: 5px
}

#submitButton:hover {
  background-color: rgb(11, 77, 62);
  border: 2px solid #aeb4b2;
}

/* new viewbooks page */

#searchTitle {
  background: white;
  color: black;
  border: 2px solid #617056;
  border-radius: 5px;
  font-weight: bold;
  position: relative;
  padding: 5px
}

#searchTitle:hover {
  background-color: rgb(11, 77, 62);
  border: 2px solid #aeb4b2;
}

#searchAuthor {
  background: white;
  color: black;
  border: 2px solid #617056;
  border-radius: 5px;
  font-weight: bold;
  position: relative;
  padding: 5px
}

#searchAuthor:hover {
  background-color: rgb(11, 77, 62);
  border: 2px solid #aeb4b2;
}

#searchKeyword {
  background: white;
  color: black;
  border: 2px solid #617056;
  border-radius: 5px;
  font-weight: bold;
  position: relative;
  padding: 5px
}

#searchKeyword:hover {
  background-color: rgb(11, 77, 62);
  border: 2px solid #aeb4b2;
}

#greatRead {
  color: black;
  margin-top: 5%;
}

#refreshBtn {
  background: white;
  color: black;
  border: 2px solid #617056;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  padding: 5px;
  width: 18%;
}

#refreshBtn:hover {
  background-color: rgb(11, 77, 62);
  border: 2px solid #aeb4b2;
}

#blog {
  color: #444;
  border: 2px solid #617056;
  border-radius: 25px;
}

#blogSubmit {
  font-size: 18px;
}

.blog-container {
  display: flex;
  flex-direction: column;
  background: white;
  height: 350px;
  width: 100%;
  margin-top: 3em;
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  border: 2px solid #617056;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  color: Black;
  overflow-y: scroll;
  padding: 25px;
}

#jumbotronBlog {
  background-image: url("../images/bookmarked.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22%;
}

.blog-head {
  font-weight: bold;
  color: #306e4f;
  margin-top: 15px;
}

.blog-body {
  font-weight: normal;
  text-align: center;
}

.bookNotes{
  text-align: center;
  font-family: 'Fredericka the Great', cursive;
}

.removeBlogButton {
  background: #cecfcf;
  color: black;
  border: 2px solid #617056;
  font-weight: bold;
  border-radius: 5px;
  opacity: 50%;
  width: 20%;
  /* margin-left: 80%; */
}

.removeBlogButton:hover {
  background-color: rgb(11, 77, 62);
  border: 2px solid #aeb4b2;
}

#registerWords {
  color: #617056;
}

#infoCard {
  max-width: 400px;
  background-color: white;
  border-style: solid;
  border-radius: 20px;
  border-width: 2px;
  border-color: #617056;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 22em;
  margin-right: 22em;
}

#thisSucks {
  margin-left: 3em;
  margin-right: 1em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#cardText {
  text-align: center;
}

#sectionTitleBlog{
  text-align: center;
}

.line_break {
    width:1000px;
    height: 5px;
    color: black;
    padding-top: 3px;
    background-color: rgba(255,255,255,.5);
}